<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bennie's introductory assignment for the CSM course Mobile Web App Development">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("button").click(function() {
                var hOne = $("h1");
                var img = $("img");
                hOne.animate({
                    fontSize: '5rem'
                }, 5000);
                hOne.css({
                    'color': 'red'
                });
                hOne.animate({
                    fontSize: '2rem'
                }, 5000, function() {
                    hOne.css({
                        'color': 'black'
                    });
                    img.css({
                        "border": 'none'
                    });
                });
                img.css({
                    "border": 'black 2px solid'
                });
            });


        });
    </script>
    <title>Introduction to CIS-128</title>
</head>

<body>
    <h1>Homework-1A</h1>
    <button class="animate">Animate</button>

    <div id="profile-picture">
        <p><img src="../assets/profile.jpg" alt="black-suit-wedding-pic">Hello My name is Bennie Jones I have been a student of The College of San Mateo for more than 2 years this is my final semester and i am looking forward to taking this class.</p>
    </div>
    <p>I am attending this class so that I may learn more about web technologies to further understand how the web works.</p>

    <h3>Technologies for this class</h3>
    <div>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
        </ul>
    </div>
    <h3>Resources</h3>
    <div>
        <ul>
            <li><a href="https://w3schools.com" target="_blank">W3schools</a> - This website is great because it will show examples of tags or things that are not understood easily.</li>
            <li><a href="https://google.com" target="_blank">Google</a> - This website is incredible because you can type your problem and get an answer most of the time.</li>
        </ul>
    </div>
</body>

</html>