h3 {
    text-align: center;
    text-decoration: underline;
}

img {
    width: 300px;
    height: 300px;
    display: inline;
    vertical-align: top;
    float: left;
}

#profile-picture {
    display: inline-block;
}